<div class="login-form-card">
  <mat-card class="login-form-card">
    <mat-card-title>Login</mat-card-title>

    <mat-card-content>
      <ac-login-form
        (valueChange)="handleLoginFormValueChange($event)"
        (validityChange)="handleLoginFormValidityChange($event)"
      >
      </ac-login-form>
    </mat-card-content>

    <mat-card-actions>
      <button
        class="submit-button"
        *ngIf="isLoginRequestInProgress; else readySubmitButton"
        mat-raised-button
        color="primary"
      >
        <mat-spinner diameter="26" color="accent"></mat-spinner>
      </button>

      <ng-template #readySubmitButton>
        <button
          class="submit-button"
          *ngIf="loginFormValid && !isSubmitButtonManuallyDisabled; else disabledSubmitButton"
          mat-raised-button
          color="primary"
          (click)="handleSubmitClick()"
        >
          Submit
        </button>

        <ng-template #disabledSubmitButton>
          <button
            class="submit-button"
            mat-raised-button
            color="primary"
            [disabled]="true"
          >
            Submit
          </button>
        </ng-template>
      </ng-template>
    </mat-card-actions>
  </mat-card>
</div>
