:host {
  display: flex;
  flex-direction: column;
  flex-grow: 1;
}

.layout-page {
  display: flex;
  flex-grow: 1;
}

.navigation {
  display: flex;
  flex-direction: column;
  flex-shrink: 0;
  width: 160px;
}

.workspace {
  display: flex;
  flex-direction: column;
  flex-grow: 1;
}
