@import './styles/libs/normalize.scss';

@import './styles/colors.scss';

body {
  position: relative;
  display: flex;
  flex-direction: column;
  width: 100vw;
  height: 100vh;
}

* {
  box-sizing: border-box;
}
