:host {
  display: flex;
  flex-direction: column;
  flex-grow: 1;
}

.nav-bar {
  display: flex;
  flex-direction: column;
  flex-grow: 1;
  box-shadow: 1px 0 4px 0 rgba(0, 0, 0, .3);
}

.link {
  cursor: pointer;
  display: flex;
  align-items: center;
  flex-shrink: 0;
  height: 50px;
  padding: 0 15px;
  font-size: 18px;

  &.active {
    color: var(--white);
    background-color: var(--primary);
  }
}
